.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

body.grid {
    align-items: center;
    background: #efefef;
    padding: 1rem;
    font-family: sans-serif;
}

li.grid {
    transition: 0.3s;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    margin: 50px 20px 0px 20px;
    padding: 5rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    background: #e9accf;
    color: #ffffff;
}

li.grid a:link,
li.grid a:visited {
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    color: #ffffff;
}

li.grid:hover {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1.8rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}